.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDetail {
  background-color: rgba(116, 113, 136, 0.9);
  padding: 30px;
  border-radius: 20px;
  width: 50%;
  border: solid #00ff00;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info {
  margin-left: 1rem;
}
.containerDetail img {
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 640px) {
  .containerDetail {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
  }
  .innerContainer {
    display: flex;
    flex-direction: column;
  }
}
