.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(116, 113, 136, 0.9);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: solid #00ff00;

  /* position: relative;     */
}
.data {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
}
h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.2rem 0;
}
.cardContainer img {
  width: 200px;
  height: 200px;
}

.closeButton {
  margin-left: 250px;
  margin-right: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: none;
  color: #00ff00;
}
.nombre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "rick and morty";
  color: #35c9dd;
}

.link {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  align-items: center;
  text-decoration: none;
  color: black;
}
