.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  /* padding: 0px; */
  margin-bottom: 17px;
  align-items: center;
  background-color: rgba(116, 113, 136, 0.5);
  /* position: fixed; */
}

.buttonContainer {
  display: flex;
}
.logout {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
button {
  height: 40px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-weight: 600;
  margin-right: 10px;
}
.homeButton,
.aboutButton,
.favoritesButton {
  background-color: #35c9dd;
}
.navbar img {
  width: 20%;
  margin-top: 0px;
}

@font-face {
  font-family: "rick and morty";
  src: url("../../../get_schwifty.ttf");
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar img {
    width: 70%;
  }
}
